<form action="">
    {{>cat_dropdown}}
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Year</span>
        <input type="number" class="form-control" name="year">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Firstname</span>
        <input type="text" class="form-control" name="firstname">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Surname</span>
        <input type="text" class="form-control" name="surname">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Motivation</span>
        <input type="text" class="form-control" name="motivation">
    </div>
</form>